#header {
    text-align: center;
    font-size: 20px;
    background-color: yellow;
}

#skills h2 {
    font-size: 15px;
    margin: 15px;
}

#about p {
    font-size: 15px;
    margin: 15px;
}

#hobbies h1 {
    font-size: 25px;
}

#skills h1 {
    font-size: 25px;
}

#about h1 {
    font-size: 25px;
}